body{
    background-color: #001f3f;
    text-align: center;
}

h1{
    color: #fef2bf;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
}

.btn{
    border: 10px solid black;
    border-radius: 20%;
    display:inline-block;
    height: 200px;
    margin: 25px;
    width: 200px;
}

.pressed{
    background-color: gray;
    box-shadow: 0 20px white;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}